<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A full stack developer with knowlege of Python, Javascript, NodeJS, SQL, HTML5, CSS3, Kotlin, XML.">
    <meta name="robots" content="index,follow">
    <title>Portfolio | Gruzservices</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/37/37474.png" type="image/x-icon">
    <script src="/script/index2.js" defer></script>
</head>
<body>
    <div class="header" id="header">
        <div class="header-logo">
            <a href="/">
                <h1>home</h1>
            </a>
        </div>
        <div class="header-tabs">
            <div class="header-small" id="header-tabs">
                <button onclick="showTabs()" id="showTabButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                        <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </button>
            </div>
            <div class="header-tabs-big" id="bigtab">
                <ul>
                    <li><a class="blue" href="/about">About</a></li>
                    <li><a class="black" href="/projects">Projects</a></li>
                    <li><a class="blue" href="/random">Random</a></li>
                    <li><a class="black" href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="small-tab-slide" id="small-tab-slide">
        <ul>
            <li><a class="blue" href="/about">About</a></li>
            <li><a class="black" href="/projects">Projects</a></li>
            <li><a class="blue" href="/random">Random</a></li>
            <li><a class="black" href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="write-section section1">
            <center>
                <h1>Welcome</h1>
                <h2>Take a look...</h2>
            </center>
        </div>
        <div class="write-section why-section center-section">
            <h2>Why?</h2>
            <p>What is the point of this website? The reason I built this website is when I am looking for a job, this will be my resume. I heard that websites make good resumes.</p>
        </div>
        <div class="write-section how-section center-section">
            <img src="/img/nodejs.png" alt="nodejs image">
            <h2>How?</h2>
            <p>I made this website using nodejs, express, cloudflare, and google domains.</p>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li><a class="black" href="/about">About</a></li>
            <li><a class="black" href="/projects">Projects</a></li>
            <li><a class="black" href="/random">Random</a></li>
            <li><a class="black" href="/contact">Contact</a></li>
        </ul>
    </div>
</body>
</html>