:root {
  --borderr: 10px;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  height: 30px;
  padding: 5px;
  width: 100%;
  text-transform: uppercase;
  background: none;
  transition: all 0.25s linear;
}

.btn:hover {
  background-color: var(--mint);
  border: 1px solid var(--purple);
}

.mint-border {
  border: 1px solid var(--mint);
}

.top-border {
  border-top-left-radius: var(--borderr);
  border-top-right-radius: var(--borderr);
}

.bottom-border {
  border-bottom-left-radius: var(--borderr);
  border-bottom-right-radius: var(--borderr);
}
